- can_manage_mxteam = @setting_manager == 0 ? (@mxteam.mxteam_can_manage(current_user)) : current_user.admin
%h3.page-title
  = @setting_manager == 0 ? "人员:" : "负责人:"

  - if can_manage_mxteam
    %span.pull-right
      = link_to select_user_mxteam_path(@mxteam.mxteam_name)+"?setting_manager=#{@setting_manager}", class: "btn btn-new btn-grouped", title: "New member" do
        New member
      - if @setting_manager == 0  
        = link_to import_users_mxteam_path(@mxteam.mxteam_name), class: "btn btn-grouped", title: "Import members from another project" do
          Import members
.team-table
  - can_admin_project = can_manage_mxteam
  .ui-box
    .title
      members (#{@members.count})
    %ul.well-list
      - @members.each do |team_member|
        = render 'team_member', member: team_member, current_user_can_admin_project: can_admin_project