%h3.page-title
  = "Select a project"
%p.light
  Projectj will be listed. Groups will be skipped.
%hr
= form_tag mxteam_path(@mxteam.mxteam_name)+"?importing=#{@importing}", method: 'put', class: 'form-horizontal' do
  .form-group
    = label_tag :source_project_id, "Project", class: 'control-label'
    .col-sm-10= select_tag(:source_project_id, options_from_collection_for_select(Project.joins(:namespace).order('namespaces.name ASC').order(name: :asc), :id, :name_with_namespace), prompt: "Select project", class: "select2 lg", required: true,multiple: @importing==0)

  .form-actions
    = submit_tag 'Add', class: "btn btn-create"
    = link_to "Cancel", mxteam_path(@mxteam.mxteam_name), class: "btn btn-cancel"

