%h3.page-title
  = "New mxteam member(s)"

= form_tag mxteam_path(@mxteam.mxteam_name)+"?addMember=1", method: 'put', class: "form-horizontal users-project-form" do

  %p Choose people you want in the mxteam
  .form-group
    = label_tag :user_ids, "People", class: 'control-label'
    .col-sm-10
      = select_tag(:user_ids, options_from_collection_for_select(User.all.order(name: :asc), :id, :name), prompt: "Select member", class: "select2 lg", required: true,multiple: true)

  .form-actions
    = submit_tag 'Add users', class: "btn btn-create"
    = link_to "Cancel", edit_mxteam_path(@mxteam.mxteam_name), class: "btn btn-cancel"