.row
  .col-md-8
    .ui-box
      .title
        Projects (#{@projects.count})
        .pull-right
          = link_to 'Add Project', new_project_path, class: "btn btn-new"
      %ul.well-list
        - @projects.each do |project|
          %li
            %span{ class: visibility_level_color(project.visibility_level) }
              = visibility_level_icon(project.visibility_level)
            = link_to project.name_with_namespace, [:admin, project]
            .pull-right
              %span.label.label-gray
                = repository_size(project)
              = link_to 'Delete', mxteam_path(@mxteam.mxteam_name)+"?delProjectId=#{project.id}", data: { confirm: "Are you sure ?" }, method: :put, class: "btn btn-small btn-remove"
        - if @projects.blank?
          .nothing-here-block 0 projects matches 