.row
  .col-md-8
    .ui-box
      .title
        Projects (#{@projects.count})
        - if current_user.can_create_project?
          .pull-right
            = link_to 'Add Project', select_project_mxteam_path(@mxteam.mxteam_name), class: "btn btn-new"
      %ul.well-list
        - @projects.each do |project|
          %li
            %span{ class: visibility_level_color(project.visibility_level) }
              = visibility_level_icon(project.visibility_level)
            = link_to project.name_with_namespace, project_path(project)
            .pull-right
              %span.label.label-gray
                = repository_size(project)
              = link_to 'Delete', mxteam_path(@mxteam.mxteam_name)+"?delProjectId=#{project.id}", data: { confirm: "Are you sure ?" }, method: :put, class: "btn btn-small btn-remove"
        - if @projects.blank?
          .nothing-here-block 0 projects matches 
.row
  - if current_user.admin
    .ui-box.ui-box-danger
      .title Remove project
      .body
        %p
          Removing the mxteam.
          %br
          %strong Removed mxteam cannot be restored!
        = link_to '删除美行组', mxteam_path(@mxteam.mxteam_name), data: { confirm: 'Are you sure ?' }, method: :delete, class: "btn btn-remove"
  - else
    .nothing-here-block Only admin user can remove a mxteam
 